[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = IDA processor support of soviet PDP-11 CPU clones
[access "refs/*"]
	owner = group user/Yuriy (yshestakov)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Yuriy (yshestakov)
	label-Verified = -1..+1 group user/Yuriy (yshestakov)
	push = group user/Yuriy (yshestakov)
	read = group user/Yuriy (yshestakov)
	rebase = group user/Yuriy (yshestakov)
	removeReviewer = group user/Yuriy (yshestakov)
	submit = group user/Yuriy (yshestakov)
[access "refs/heads/*"]
	create = group user/Yuriy (yshestakov)
	push = +force group user/Yuriy (yshestakov)
	pushMerge = group user/Yuriy (yshestakov)
	read = group user/Yuriy (yshestakov)
[access "refs/tags/*"]
	push = group user/Yuriy (yshestakov)
	push = +force group user/Yuriy (yshestakov)
